<ion-view title="Dashboard" id="page10" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div id="dashboard-button-bar1" class="button-bar">
      <button id="dashboard-button20" style="font-weight:300;font-size:12px;" class="button button-positive button-block">Dashboard</button>
      <button id="dashboard-button19" style="font-weight:300;font-size:12px;" class="button button-positive button-block">Proyek Saya</button>
      <button id="dashboard-button31" style="font-weight:300;font-size:12px;" class="button button-positive button-block">Ajukan KPR</button>
    </div>
    <h5 id="dashboard-heading4" style="color:#2890D9;font-weight:300;">Mau membangun apa?</h5>
    <div id="dashboard-button-bar2" class="button-bar">
      <button id="dashboard-button26" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-home">Rumah</button>
      <button id="dashboard-button27" style="font-weight:300;font-size:12px;" class="button button-positive button-outline icon-left ion-social-buffer">Kost</button>
      <button id="dashboard-button28" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-list">Ruko</button>
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="dashboard-button-bar5" class="button-bar">
      <button id="dashboard-button38" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-locate">Taman</button>
      <button id="dashboard-button39" style="font-weight:300;font-size:12px;" class="button button-positive button-outline icon-left ion-social-buffer">Tingkat</button>
      <button id="dashboard-button40" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-laptop">Dak</button>
    </div>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <div id="dashboard-button-bar6" class="button-bar">
      <button id="dashboard-button41" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-map">Arsitek</button>
      <button id="dashboard-button42" style="font-weight:300;font-size:12px;" class="button button-positive button-outline icon-left ion-social-css3-outline">Pengecatan</button>
      <button id="dashboard-button43" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-navigate">Interior</button>
    </div>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <div id="dashboard-button-bar7" class="button-bar">
      <button id="dashboard-button44" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-notifications">Kolam Renang</button>
      <button id="dashboard-button45" style="font-weight:300;font-size:12px;" class="button button-positive button-outline icon-left ion-social-github-outline">Tingkat</button>
      <button id="dashboard-button46" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-options">Dak</button>
    </div>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <div id="dashboard-button-bar8" class="button-bar">
      <button id="dashboard-button47" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-open">Taman</button>
      <button id="dashboard-button48" style="font-weight:300;font-size:12px;" class="button button-positive button-outline icon-left ion-social-dropbox">Tingkat</button>
      <button id="dashboard-button49" style="font-weight:300;font-size:12px;border-radius:0px 0px 0px 0px;" class="button button-positive button-outline icon-left ion-android-people">Dak</button>
    </div>
  </ion-content>
</ion-view>