<ion-view title="Detail Proyek" id="page16" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <ion-list id="detailProyek-list7">
      <ion-item class="item-thumbnail-left positive" id="detailProyek-list-item17">
        <h2positive>Membangun rumah
          <p>Mulai : 02 Januari 2018
            <br>Deadline: 30 Desember 2018
            <br>No. Kontrak: 12971836816</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="detailProyek-list-item18">
        <h2positive>Membangun ruko
          <p>Mulai : 02 Januari 2018
            <br>Deadline: 30 Desember 2018
            <br>No. Kontrak: 12971836816</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>