<ion-view title="Login" hide-nav-bar="true" id="page7" style="background-color:#F9F9F9;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 102px;"></div>
    <form id="login-form6" class="list">
      <h4 id="login-heading1" style="color:#666666;font-weight:300;text-align:center;">Masuk ke Mitrarenov</h4>
      <div class="spacer" style="width: 300px; height: 38px;"></div>
      <label class="item item-input" id="login-input13">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="login-input12">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="login-button5" class="button button-positive button-block">Masuk</button>
    <button id="login-button6" style="font-weight:300;font-size:13px;" class="button button-positive button-small button-block button-clear">Daftar akun baru</button>
    <button id="login-button7" style="font-weight:300;font-size:13px;" class="button button-stable button-small button-block button-clear">Lupa password ?</button>
  </ion-content>
</ion-view>