<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#FFFFFF;">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="mitrarenov-list1">
        <ion-item class="item-avatar positive" id="mitrarenov-list-item1" ui-sref="mitrarenov.splash()" menu-close="">
          <img src="img/69FALjchRh2MhJJf0fP9_42c1d45bec9cae61d1574582eff71ff0-bpfull.jpg">
          <h2positive>John Doe
            <p>Jakarta Selatan</p>
          </h2positive>
        </ion-item>
        <ion-item class="item-icon-left positive" id="mitrarenov-list-item2">
          <i class="icon ion-grid"></i>Dashboard</ion-item>
        <ion-item class="item-icon-left positive" id="mitrarenov-list-item3" href-inappbrowser="page3">
          <i class="icon ion-android-bookmark"></i>Tentang kami</ion-item>
        <ion-item class="item-icon-left positive" id="mitrarenov-list-item4" href-inappbrowser="page3">
          <i class="icon ion-help-circled"></i>Bantuan</ion-item>
        <ion-item class="item-icon-left positive" id="mitrarenov-list-item5" href-inappbrowser="page3">
          <i class="icon ion-android-list"></i>Syarat dan ketentuan</ion-item>
        <ion-item class="item-icon-left positive" id="mitrarenov-list-item6" href-inappbrowser="page3">
          <i class="icon ion-android-lock"></i>Kebijakan privasi</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>