<ion-view title="Pesan Jasa" id="page15" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <form id="pesanJasa-form9" class="list">
      <h4 id="pesanJasa-heading7" style="color:#2196F3;font-weight:300;text-align:center;">Pesan Membangun Rumah</h4>
      <div id="pesanJasa-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#666666;font-size:14px;">Pilih Tipe</p>
      </div>
      <div id="pesanJasa-button-bar15" class="button-bar">
        <button id="pesanJasa-button51" style="font-size:13px;" class="button button-positive button-block button-outline">Sederhana</button>
        <button id="pesanJasa-button52" style="font-size:13px;" class="button button-positive button-block">Standar</button>
        <button id="pesanJasa-button53" style="font-size:13px;" class="button button-positive button-block button-outline">Mewah</button>
      </div>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <div id="pesanJasa-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#666666;font-size:14px;">Detail Informasi</p>
      </div>
      <label class="item item-select" id="pesanJasa-select1" name="provinsi">
        <span class="input-label">Pilih Provinsi</span>
        <select>
          <option>Jakarta Selatan</option>
          <option>Jawa Barat</option>
          <option>Jawa Tengah</option>
          <option>Jawa Timur</option>
        </select>
      </label>
      <label class="item item-select" id="pesanJasa-select2" name="provinsi">
        <span class="input-label">Pilih Area</span>
        <select>
          <option>Banyumas, Kab</option>
          <option>Kebumen, Kab</option>
          <option>Cilacap, Kab</option>
        </select>
      </label>
      <label class="item item-input" id="pesanJasa-textarea1">
        <span class="input-label">Alamat Lengkap</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="pesanJasa-textarea2">
        <span class="input-label">Luas Bangunan</span><textarea placeholder="/m2"></textarea></label>
      <label class="item item-input" id="pesanJasa-textarea4">
        <span class="input-label">Deskripsi</span><textarea placeholder=""></textarea></label>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <div id="pesanJasa-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#666666;font-size:12px;">Metode Pembayaran</p>
      </div>
      <div id="pesanJasa-button-bar16" class="button-bar">
        <button id="pesanJasa-button56" style="font-size:13px;" class="button button-positive button-block button-outline">Pinjaman Bank</button>
        <button id="pesanJasa-button57" style="font-size:13px;" class="button button-positive button-block">Cash</button>
      </div>
      <div id="pesanJasa-markdown4" class="show-list-numbers-and-dots">
        <p style="color:#666666;font-size:12px;">Pilih Kebutuhan</p>
      </div>
      <div id="pesanJasa-button-bar17" class="button-bar">
        <button id="pesanJasa-button59" style="font-size:13px;" class="button button-positive button-block button-outline">Mendesak</button>
        <button id="pesanJasa-button60" style="font-size:13px;" class="button button-positive button-block">Penawaran</button>
        <button id="pesanJasa-button61" style="font-size:13px;" class="button button-positive button-block button-outline">Butuh Info</button>
      </div>
      <button id="pesanJasa-button54" class="button button-positive button-block">Pesan Jasa</button>
    </form>
  </ion-content>
</ion-view>