<ion-view title="Progres Proyek" id="page17" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <form id="progresProyek-form10" class="list">
      <div class="list card" id="progresProyek-card21">
        <ion-item class="item-thumbnail-left positive" id="progresProyek-list-item21">
          <h2positive>Progres Membangun
            <br>Rumah
            <p>26 Oktober 2018</p>
          </h2positive>
        </ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form id="progresProyek-form11" class="list">
          <label class="item item-input" id="progresProyek-textarea8">
            <span class="input-label">Tulis Komentar</span><textarea placeholder=""></textarea></label>
        </form>
      </div>
      <button id="progresProyek-button70" class="button button-positive button-block">Kirim Komentar</button>
    </form>
  </ion-content>
</ion-view>