<ion-view title="Register" hide-nav-bar="true" id="page8" style="background-color:#F9F9F9;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 68px;"></div>
    <form id="register-form7" class="list">
      <h4 id="register-heading2" style="color:#666666;font-weight:300;text-align:center;">Daftar Mitrarenov</h4>
      <div class="spacer" style="width: 300px; height: 29px;"></div>
      <label class="item item-input" id="register-input14">
        <span class="input-label">Nama Lengkap</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="register-input16">
        <span class="input-label">No Telephone</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="register-input15">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
      <label class="item item-input" id="register-input17">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <button id="register-button8" class="button button-positive button-block">Masuk</button>
    <button id="register-button9" style="font-weight:300;font-size:13px;" class="button button-positive button-small button-block button-clear">Sudah punya akun? Login</button>
  </ion-content>
</ion-view>