<ion-view title="Register" hide-nav-bar="true" id="page9" style="background-color:#F9F9F9;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 68px;"></div>
    <form id="register2-form8" class="list">
      <h4 id="register2-heading3" style="color:#666666;font-weight:300;text-align:center;">Reset Password</h4>
      <div class="spacer" style="width: 300px; height: 29px;"></div>
      <label class="item item-input" id="register2-input20">
        <span class="input-label">Email</span>
        <input type="email" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <button id="register2-button11" class="button button-positive button-block">Reset</button>
    <button id="register2-button12" style="font-weight:300;font-size:13px;" class="button button-positive button-small button-block button-clear">Sudah punya akun? Login</button>
  </ion-content>
</ion-view>