<ion-view title="Splash" hide-nav-bar="true" id="page1" style="background-color:#F9F9F9;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 212px;"></div>
    <div>
      <img src="img/Pmjs40xSTAGL2Aee982w_logo-mr.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 142px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/scE4uwwfTCmoPPqdMUup_building.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>